    {{> head}}

    {{> navbar}}

        <div class="row">
        <div class="col-8">
        <h1>Column 1</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ipsam laborum natus voluptate magni consequatur velit provident commodi saepe, fuga, reprehenderit earum itaque corrupti tenetur in minima sit! Odit, quisquam!</p>
        </div>
        <div class="col-4">
        <img src='../public/assets/img/iceberg.jpg'  alt="imagen">
        </div>
        </div>
    {{> footer}}